body {
    color: #538d22;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 150%;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Consolas', 'Arial';
    color: #1a4301;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #1a4301;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #3c1642;
}

p {
    line-height: 2;
}

a {
    color: #3c1642;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 10px 20px;
    text-decoration: none;
}

a:hover {
    color: #007200;
}

hr {
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 5%;
    margin: 100px auto;
}

.top-container {
    background-color: #b2ff9e;
    position: relative;
    padding-top: 200px;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #b2ff9e;
    padding: 50px 0 20px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.code-img {
    width: 20%;
    float: left;
    margin-right: 30px;
}

.programmer {
    margin-top: 5%;
}

.content-img {
    width: 20%;
    float: right;
    margin-left: 30px;
}

.intro {
    width: 30%;
    margin: auto;
}

.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}

.copyright {
    color: #000;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-circle {
    position: absolute;
    right: 300px;
    top: 40px;
}

.bottom-circle {
    position: absolute;
    left: 300px;
    bottom: 200px;
}

.btn {
    background: #70e000;
    background-image: -webkit-linear-gradient(top, #70e000, #38b000);
    background-image: -moz-linear-gradient(top, #70e000, #38b000);
    background-image: -ms-linear-gradient(top, #70e000, #38b000);
    background-image: -o-linear-gradient(top, #70e000, #38b000);
    background-image: linear-gradient(to bottom, #70e000, #38b000);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #ccff33;
    background-image: -webkit-linear-gradient(top, #ccff33, #9ef01a);
    background-image: -moz-linear-gradient(top, #ccff33, #9ef01a);
    background-image: -ms-linear-gradient(top, #ccff33, #9ef01a);
    background-image: -o-linear-gradient(top, #ccff33, #9ef01a);
    background-image: linear-gradient(to bottom, #ccff33, #9ef01a);
    text-decoration: none;
  }